
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body {
    background: linear-gradient(180deg, rgba(24, 171, 235, 0.00) 0%, rgba(24, 171, 235, 0.10) 100%), #FFF;
    width: 100vw;
    overflow-y: hidden;
}

.App {
    padding: clamp(32px, 2.5vw, 48px) clamp(24px, 10vw, 144px);
    min-height: 100vh;

    &-header {
        display: flex;
        justify-content: space-between;
    }

    main {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
}

// Searchbar
.searchbar {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 24px;
    width: fit-content;
    box-shadow: 0px 4px 12px rgba(21, 144, 219, 0.25);
    background-color: #fff;


    img:nth-child(1) {
        min-width: 22px;
        aspect-ratio: 1 / 1;
        margin: 0 13px;
    }

    input {
        height: 48px;
        border: none;
        width: 40vw;

        &:focus-visible {
            outline: none;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #18ABEB 0%, #1590DB 100%);
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 24px;
        cursor: pointer;

        img {
            width: 24px;
            height: auto;
        }
    }
}

// Unitswitch
.unitSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

//Current weather
.current {
  display: flex;
  justify-content: space-between;
  flex: 2;
  margin-top: clamp(24px, 2.5vw, 48px);
  padding: clamp(24px, 2.5vw, 48px);
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(21, 144, 219, 0.25);
  border-radius: clamp(24px, 2.5vw, 48px);
  

  &-detail {
    text-align: right;
  }
  
}